<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<title>条件语句</title>
		<script src="https://unpkg.com/vue/dist/vue.js"></script>
	</head>
	<body>
		<div id="app">
			<!-- if语句 -->
			<p v-if="flag">true</p>
			<!--if else-->
			<p v-if="state">yes</p>
			<p v-else>no</p>
			<!-- if    else    else if -->
			<p v-if="num === 1">1</p>
			<p v-else-if="num === 2">2</p>
			<p v-else-if="num === 3">3</p>
			<p v-else>not 1/2/3</p>
		</div>
		<script>
			var myApp = new Vue({
				el:"#app",
				data:{
					flag:true,
					state:false,
					num:2
				}
			})
		</script>
	</body>
</html>
